.page.settings
  .contain.ng-show
    .content
      h1.bigwhite Changer de mot de passe
      p.white Remplissez ce formulaire pour changer de mot de passe

      form.form(name='form', ng-submit='vm.changePassword(form)', novalidate='')
        .form-group
          label.white Mot de passe actuel
          input.form-control(type='password'
            name='password'
            ng-model='vm.user.oldPassword'
            mongoose-error='')
          p.help-block(ng-show='form.password.$error.mongoose')
            | {{ vm.errors.other }}
        .form-group
          label.white Nouveau mot de passe
          input.form-control(type='password'
            name='newPassword'
            ng-model='vm.user.newPassword'
            ng-minlength='3', required='')
          p.help-block(ng-show='(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)')
            | Password must be at least 3 characters.
        .form-group
          label.white Confirmer le nouveau mot de passe
          input.form-control(type='password'
            name='confirmPassword'
            ng-model='vm.user.confirmPassword'
            match="vm.user.newPassword"
            ng-minlength='3', required='')
          p.help-block(ng-show='fvm.orm.confirmPassword.$error.match && vm.submitted')
            | Passwords must match.

        p.help-block  {{ vm.message }}

        button.btn.btn-lg.btn-default(type='submit') Sauvegarder
        a.btn.btn-default.btn-lg(href="/") Retour à l'accueil
